<!-- IF IS_BIRTHDAY_REQUIRE -->

<fieldset class="submit-buttons">
	<label for="bday_day">{L_BIRTH_DATE}{L_COLON}</label> 
	<label for="bday_day">{L_DAY}{L_COLON} <select name="bday_day" id="bday_day">{S_BIRTHDAY_DAY_OPTIONS}</select></label>
	<label for="bday_month">{L_MONTH}{L_COLON} <select name="bday_month" id="bday_month">{S_BIRTHDAY_MONTH_OPTIONS}</select></label>
	<label for="bday_year">{L_YEAR}{L_COLON} <select name="bday_year" id="bday_year">{S_BIRTHDAY_YEAR_OPTIONS}</select></label>
</fieldset>
<!-- ENDIF -->